.btn-tambahData {
    float: right;
    width: 200px;
    margin: 25px;
}

.container_konten {
    padding: 20px;
}

.bagianMenu {
    margin-top: 15px;
}

.gambarInventori {
    height: 250px;
    object-fit: cover;
}
