.btn-tambahData {
    float: right;
    width: 200px;
    margin: 25px;
}

.container_konten {
    padding: 20px;
}

.bagianMenu {
    margin-top: 15px;
}

.gambarInventori {
    height: 250px;
    object-fit: cover;
}

/* bagian pada konten ketiga */
.rincian_inventori {
    width: 80%;
    margin-top: 20px;
}
.bagianPenyimpanan {
    margin: 10px;
    padding: 10px;
}
